@CHARSET "ISO-8859-1";

fieldset{

padding:1em;
font:100% san-serif ;
float:left;


}


legend{

font-weight:bold;
color:#336699;


}

label{
	display:inline-block;
	display:inline:
	float:left;
	padding-top:10px;
	text-align:right;
	width:40px;
	font-weight:bold;
	
}

input{
	margin-top:5px;
	margin-bottom:5px;
	display: inline;
	display: inline-block;
	zoom: 1; 
	vertical-align:left;
	margin-left:20px;
	
}

select{
	margin-top:5px;
	margin-bottom:5px;
	display: inline;
	display: inline-block;
	zoom: 1; 
	vertical-align:middle;
	margin-left:20px;
	
}

h2{
	color:#336699;
	
	
	
}



	input[type='submit']{
	
	 float:center;
	 margin-left:30%;
	 margin-top:10%;
	 padding-top: 5%;
	 text-align:center;
	 font-weight:bold;
	 
}

div#form{
	width:60%;
	
}

div.endava_logo img{
	width:10%;
	
	
}

div.message{
	color:green;
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
	
	
}
